* {
    font-family: 'Oswald', sans-serif;
    font-family: 'Rasa', serif;
    font-family: 'Spectral', serif;
  }


.oneArea {
    position: absolute;
    background: linear-gradient(90deg, white 0%, white 65%, hsl(29, 14%, 71%) 65%, #bfb4aa 100%);
    width: 100%;
    height: 900px;
}

.oneArea h1 {
    font-size: 34px;
    padding-top: 300px;
    padding-left: 100px;
}

.oneArea p {
    font-size: 18px;
    padding-top: 50px;
    padding-left: 100px;
    }

.topImg {
    position: relative;
    top: 80px;
    left: 585px;
    width: 700px;
}

.newArrivals h2 {
    margin-top: 250px;
    font-size: 34px;
    padding-left: 50px;
    border-bottom: 0.5px solid #bfb4aa;
    width: 350px;
    text-align: right;
}

.new ul {
    display: flex;
    padding-left: 50px;
    justify-content: center;
    justify-content: space-between;
}

.new li {
    list-style: none;
    padding-left: 0px;
}

.new img {
    width: 350px;
    border: 0.5px solid #bfb4aa;
    margin-top: 200px;
    justify-content: space-between;
}

